@import url("https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap");
body {
  margin: 0;
  font-family: "Blinker", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}
:root {
  --color-main: #fff;
  --color-highlight: #024de6;
  --color-secondary: #8684f0;
  --color-tertiary: #c7bff9;
  --shadow: -5px 5px 7px rgba(0, 0, 0, 0.3);
  --16px: 1rem;
  --20px: 1.25rem; /* Mobile */
  --24px: 1.5rem;
  --32px: 2rem;
  --40px: 2.5rem; /* Mobile */
  --48px: 3rem;
  --64px: 4rem;
  --80px: 5rem;
  --96px: 6rem;
  --192px: 12rem;
  --384px: 24rem;
  --768px: 48rem;
  --1152px: 72rem;
}
body::-webkit-scrollbar {
  width: var(--16px);
}

body::-webkit-scrollbar-track {
  background: var(--color-highlight);
}

body::-webkit-scrollbar-thumb {
  background: var(--color-tertiary);
  border-radius: var(--16px);
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--color-4) var(--color-3);
  }
}
