@import url("https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap");
body {
  margin: 0;
  font-family: "Blinker", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: var(--color-background);
  color: white;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}
:root {
  --color-background: #131313;
  --color-main: #024de6;
  --color-highlight: #8684f0;
  --color-secondary: #c7bff9;
  --font-small: 1.25rem;
  --font-medium: 1.5rem;
  --font-large: 3rem;
}
@media only screen and (max-width: 700px) {
  :root {
    --font-small: 1rem;
    --font-medium: 1.2rem;
    --font-large: 2rem;
  }
}
body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background: var(--color-background);
}

body::-webkit-scrollbar-thumb {
  background: var(--color-main);
  border-radius: 1rem;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--color-4) var(--color-3);
  }
}
